TRANSLATOR_API_KEY=""
TRANSLATOR_LOCATION=""
VITE_NOTIFICATION_SERVER_KEY=""
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
PUBLIC_KLIPY_API_KEY=""
PUBLIC_TOKIMEKI_STREAM_API="wss://jetstream1.us-west.bsky.network"
PUBLIC_SCHEDULE_API_URL=""
PUBLIC_SCHEDULE_SERVICE_DID=""
PUBLIC_HASHTAG_API_URL=""
PUBLIC_THREAD_SPLIT_API_SERVER=""
PUBLIC_POSTHOG_KEY=""
PUBLIC_SUICIDE_WORDS=""

PUBLIC_ATMOSPHERE_ADMIN_DIDS=""
AI_GATEWAY_API_KEY=""
