:root {
    --font-body: 'Noto Sans JP', 'Noto Color Emoji', sans-serif;

    --color-theme-1: #ED7D95;
    --color-theme-2: #E7D600;
    --color-theme-3: #01B7ED;
    --color-theme-4: #2A14B4;
    --color-theme-5: #FF5800;
    --color-theme-6: #9C5EDF;
    --color-theme-7: #D81C2F;
    --color-theme-8: #94C74C;
    --color-theme-9: #FFFEFE;
    --color-theme-10: #16B286;
    --color-theme-11: #D6D5CA;
    --color-theme-12: #ED958E;
    --color-theme-you: #1D1D1D;

    --color-theme-1-bg: #FFFAFC;
    --color-theme-2-bg: #FFFFFA;
    --color-theme-3-bg: #FAFEFF;
    --color-theme-4-bg: #FBFAFF;
    --color-theme-5-bg: #FFFCFA;
    --color-theme-6-bg: #FCFAFF;
    --color-theme-7-bg: #FFFAFA;
    --color-theme-8-bg: #FDFFFA;
    --color-theme-9-bg: #FFFFFF;
    --color-theme-10-bg: #FAFFFE;
    --color-theme-11-bg: #FFFFFA;
    --color-theme-12-bg: #FFFAFA;

    --primary-color: var(--color-theme-1);
    --secondary-color: var(--color-theme-2);
    --third-color: var(--color-theme-4);

    --success-color: var(--color-theme-8);
    --danger-color: var(--color-theme-7);

    --follow-color: var(--color-theme-11);

    --base-bg-color: #fff;
    --bg-color-1: #fff;
    --bg-color-2: #fafafa;
    --bg-color-3: var(--color-theme-9);

    --border-color-1: #E0E0E0;

    --link-color: var(--primary-color);

    --text-color-primary-colored: var(--primary-color);
    --text-color-1: var(--color-theme-you);
    --text-color-2: #222;
    --text-color-3: #858585;

    --column-width: 42rem;
    --column-margin-top: 4rem;
}

.theme-lightpink {
    --primary-color: var(--color-theme-1);
    --base-bg-color: var(--color-theme-1-bg);
}

.theme-pastelyellow {
    --primary-color: var(--color-theme-2);
    --text-color-primary-colored: var(--color-theme-2);
    --base-bg-color: var(--color-theme-2-bg);
    --link-color: var(--color-theme-2);
}

.theme-lightblue {
    --primary-color: var(--color-theme-3);
    --text-color-primary-colored: var(--color-theme-3);
    --base-bg-color: var(--color-theme-3-bg);
    --link-color: var(--color-theme-3);
}

.theme-royalblue {
    --primary-color: var(--color-theme-4);
    --text-color-primary-colored: var(--color-theme-4);
    --base-bg-color: var(--color-theme-4-bg);
    --link-color: var(--color-theme-4);
}

.theme-superorange {
    --primary-color: var(--color-theme-5);
    --text-color-primary-colored: var(--color-theme-5);
    --base-bg-color: var(--color-theme-5-bg);
    --link-color: var(--color-theme-5);
}

.theme-violet {
    --primary-color: var(--color-theme-6);
    --text-color-primary-colored: var(--color-theme-6);
    --base-bg-color: var(--color-theme-6-bg);
    --link-color: var(--color-theme-6);
}

.theme-scarlet {
    --primary-color: var(--color-theme-7);
    --text-color-primary-colored: var(--color-theme-7);
    --base-bg-color: var(--color-theme-7-bg);
    --link-color: var(--color-theme-7);
}

.theme-lightgreen {
    --primary-color: var(--color-theme-8);
    --text-color-primary-colored: var(--color-theme-8);
    --base-bg-color: var(--color-theme-8-bg);
    --link-color: var(--color-theme-8);
}

.theme-paperwhite {
    --primary-color: var(--color-theme-you);
    --base-bg-color: var(--color-theme-9-bg);
    --text-color-primary-colored: var(--color-theme-you);
    --link-color: var(--color-theme-you);
}

.theme-jade {
    --primary-color: var(--color-theme-10);
    --text-color-primary-colored: var(--color-theme-10);
    --base-bg-color: var(--color-theme-10-bg);
    --link-color: var(--color-theme-10);
}

.theme-platinumsilver {
    --primary-color: var(--color-theme-11);
    --text-color-primary-colored: var(--color-theme-11);
    --base-bg-color: var(--color-theme-11-bg);
    --link-color: var(--color-theme-11);
}

.theme-pinkgold {
    --primary-color: var(--color-theme-12);
    --text-color-primary-colored: var(--color-theme-12);
    --base-bg-color: var(--color-theme-12-bg);
    --link-color: var(--color-theme-12);
}

.darkmode {
    --base-bg-color: #111;
    --bg-color-1: #000;
    --bg-color-2: #111;
    --bg-color-3: #222;

    --border-color-1: #333;

    --text-color-1: #fff;
    --text-color-2: #fafafa;
    --text-color-3: #888;
}

.darkmode.theme-paperwhite {
    --link-color: #fff;
    --primary-color: #fff;
    --text-color-primary-colored: #fff;
}

.lang-ko {
    --font-body: 'Noto Sans KR', 'Noto Color Emoji', sans-serif;
}

.nonoto {
    --font-body: sans-serif;
}

body {
    min-height: 100vh;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.app {
    background-color: var(--base-bg-color);
    color: var(--text-color-1);
    font-family: var(--font-body);
}

h1 {
    font-weight: 900;
}

p {
    line-height: 1.5;
    word-break: break-all;
    overflow-wrap: anywhere;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.timeline-group {
    margin-top: 40px;
    padding: 20px;
    background-color: var(--bg-color-2);
}

svg {
    display: block;
}

img {
    vertical-align: middle;
}

.pswp__img {
    max-height: 90vh;
    object-fit: contain;
}

.scroll-lock {
    overflow: hidden;
}