.lang-ko {
    --font-body: 'Noto Sans KR', 'Noto Color Emoji', sans-serif;
}

.lang-en,
.lang-pt-BR {

}

.nonoto {
    --font-body: sans-serif;
}

body {
    min-height: 100vh;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.app {
    background-color: var(--app-bg-color);
    color: var(--app-color);
    font-family: var(--font-body);
    background-image: var(--app-bg-image);
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: 900;
}

p {
    line-height: 1.5;
    overflow-wrap: anywhere;
    hyphens: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    display: block;
}

img {
    vertical-align: middle;
}

.pswp__img {
    max-height: 90vh;
    object-fit: contain;
}

.scroll-lock {
    overflow: hidden;

    .side {
        backdrop-filter: none !important;
    }
}
