.lang-ko {
    --font-body: 'Noto Sans KR', sans-serif;
}

.lang-en,
.lang-pt-BR {
    --font-body: 'Inter', sans-serif;
}

.lang-bg,
.lang-ru {
    --font-body: 'Inter', sans-serif;
}

.lang-zh-CN {

}

.font-theme-zenmaru {
    --font-body: 'Zen Maru Gothic', sans-serif;
}

.font-theme-murecho {
    --font-body: 'Murecho', sans-serif;
}

.nonoto {
    --font-body: sans-serif;
}

.ios {
    --font-body: -apple-system, 'Hiragino Sans', sans-serif;
    --ui-font: ui-rounded, sans-serif;
}

html {
    overflow-x: hidden;

    &:has(.single) {
        overflow-y: scroll;
    }
}

body {
    min-height: 100dvh;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
}

.app {
    background-color: var(--app-bg-color);
    color: var(--app-color);
    font-family: var(--font-body);
    background-image: var(--app-bg-image);
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: 900;
}

p {
    line-height: 1.5;
    overflow-wrap: anywhere;
    hyphens: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

svg {
    display: block;
}

img {
    vertical-align: middle;
}

.scroll-lock {
    @media (max-width: 767px) {
        overflow: hidden;
    }
}
