a,
button {
    &:focus-visible {
        outline: dashed var(--text-color-1);
    }
}

.button {
    display: inline-flex;
    height: var(--button-height);
    min-width: 240px;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    border: var(--button-border);
    box-shadow: var(--button-box-shadow);
    backdrop-filter: var(--button-backdrop-filter);
    font-weight: bold;
    transition: opacity .2s ease-in-out, transform .05s ease-in-out;
    position: relative;

    &:disabled {
        opacity: .6;

        &:hover {
            opacity: .6;
        }

        &:active {
            transform: none;
        }
    }

    &--with-icon {
        gap: 4px;
    }

    &--shadow {
        box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
    }
}

.button:hover {
    opacity: .8;
}

.button:active {
    transform: scale(.975);
}

.button--border {
    background-color: var(--bg-color-1);
    border: var(--default-border-width) solid currentColor;
    color: var(--text-color-primary-colored);
}

.button--following {
    overflow: hidden;
    background-color: var(--follow-color);
}

.button--ss {
    height: 30px;
    border-radius: 15px;
    min-width: 100px;
    font-size: 12px;
    padding: 0 8px;
}

.button--ssl {
    height: 36px;
    border-radius: 18px;
    min-width: 120px;
    font-size: 14px;
    padding: 0 12px;
}

.button--sm {
    height: 36px;
    border-radius: 18px;
    min-width: 120px;
    font-size: 14px;
    padding: 0 16px;
}

.button--fullwidth {
    width: 100%;
}

.button--danger {
    color: var(--danger-color);
    border-color: currentColor;
}

.button--logout {
    min-width: 0;
    width: 100%;
}

.button--soft-rect {
    border-radius: var(--border-radius-3);
}

.buttons-group {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .button {
        min-width: 0;
        padding: 0 10px;
        font-size: 13px;

        &--sm {
            min-width: 100px;
        }

        &--login {
            min-width: 150px;
        }
    }
}

.text-button {
    display: inline-block;
    color: var(--primary-color);

    &:hover {
        text-decoration: underline;
    }
}

.ai-button-wrap {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.ai-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    letter-spacing: .1em;
    font-weight: bold;
    font-size: 14px;
    height: 28px;
    border-radius: 14px;
    padding: 0 8px;

    &:disabled {
        opacity: .5;
    }
}