.input-group {
    margin-bottom: 15px;
    position: relative;

    label {
        margin-bottom: 5px;
    }

    input {
        border-radius: 4px;
        height: 50px;
        padding: 0 20px;
    }

    textarea {
        border-radius: 4px;
        height: 200px;
        width: 100%;
        padding: 14px 20px;
        border: 1px solid var(--border-color-1);
    }

    &__name {
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        left: 0;
        right: 0;

        &--show {
            position: static;
            margin-bottom: 8px;
            color: var(--text-color-1);
            width: auto;
            height: auto;
        }
    }

    &__content {
        position: relative;
    }

    &__input {
        width: 100%;
        border: 1px solid #333;
        background-color: #fff;
    }

    &__prefix {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        margin: auto;
        display: flex;
        align-items: center;
        pointer-events: none;

        & + .input-group__input {
            padding-left: 36px;
        }
    }
}

.edit-avatar {
    .filepond--root {
        width: 150px;
        height: 150px !important;
        max-height: 150px !important;
    }

    .filepond--drop-label {
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        font-size: 12px;
    }

    .filepond--panel-root {
        background-color: transparent;
    }
}

.edit-banner {
    .filepond--root {
        width: 100%;
        aspect-ratio: 3 / 1;
        height: auto !important;
        max-height: 100% !important;
    }

    .filepond--drop-label {
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        font-size: 14px;
        height: 100%;
    }

    .filepond--panel-root {
        background-color: transparent;
    }
}

.radio-group {
    .radio {
        margin-bottom: 10px;
    }
}

.radio {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked {
            & + label .radio__ui {
                &::before {
                    visibility: visible;
                }
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &::before {

        }

        &::after {
            content: none;
            display: block;

        }
    }

    &__ui {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid var(--border-color-1);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--primary-color);
            visibility: hidden;
        }
    }
}

.icons-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &--grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 75px);
    }

    &--bg {
        grid-template-columns: repeat(auto-fill, 64px);
        gap: 8px;

        .icons-radio__ui {
            width: 64px;
            height: 96px;
        }
    }
}

.icons-radio {
    position: relative;
    display: flex;

    input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked {
            & + label .icons-radio__ui {
                .icons-radio__g {
                    stroke: var(--primary-color);
                }

                .icons-radio__r {
                    fill: var(--primary-color);
                }

                &:not(.icons-radio__ui--ignorefill) {
                    circle,
                    path {
                        fill: var(--primary-color);
                    }
                }
            }
        }
    }

    label {
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        &::after {
            content: none;
            display: block;
        }
    }

    &__ui {
        width: 75px;
        height: 75px;

        svg {
            display: block;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--skin {
        letter-spacing: -.025em;
        line-height: 1.3;

        input {
            &:checked {
                & + label {
                    font-weight: bold;

                    .icons-radio__ui {
                        border-color: var(--primary-color);
                    }
                }
            }
        }

        .icons-radio__ui {
            border: 2px solid var(--border-color-2);
            border-radius: 4px;
            overflow: hidden;
        }
    }
}

.form-select {
    position: relative;

    svg {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        pointer-events: none;
    }

    &__select {
        border: 1px solid var(--border-color-1);
        background-color: var(--bg-color-2);
        height: 40px;
        border-radius: 4px;
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        color: var(--text-color-1);
    }
}

.form-textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--border-color-1);
    width: 100%;
    color: var(--text-color-1);
}

.radio-v-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--border-color-1);
    border-radius: 6px;
    font-size: 13px;
    overflow: hidden;

    &--4columns {
        grid-template-columns: repeat(4, 1fr);
    }

    &--dwidth {
        grid-template-columns: repeat(7, 1fr);
    }

    &__item {
        color: var(--text-color-1);
        position: relative;

        &:not(:last-child) {
            border-right: 1px solid var(--border-color-1);
        }

        label {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: var(--bg-color-1);
            padding: 0 10px;
        }

        input {
            visibility: hidden;
            opacity: 0;
            width: 0;
            height: 0;
            position: absolute;

            &:checked + label {
                background-color: var(--primary-color);
                color: var(--bg-color-1);
            }
        }

        &--has-button {
            label {
                padding-right: 40px;
            }
        }
    }
}

.input-with-pen {
    position: relative;
    border: 1px solid var(--border-color-1);
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;

    &:focus-within {
        border-color: var(--text-color-1);
    }

    svg {
        flex-shrink: 0;
    }

    &__name {
        font-size: 18px;
        font-weight: bold;
        flex: 1;
        white-space: nowrap;
        color: var(--text-color-1);
    }
}

.input-with-button {
    display: flex;
    gap: 10px;

    &__input {
        border: 1px solid var(--border-color-1);
        border-radius: var(--border-radius-3);
        flex: 1;
        padding: 0 8px;
        color: var(--text-color-1);
    }
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked {
            & + label .checkbox__ui {
                &::before {
                    visibility: visible;
                }
            }
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &::after {
            content: none;
            display: block;
        }
    }

    &__ui {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: var(--border-radius-1);
        border: 1px solid var(--border-color-1);
        position: relative;
        background-color: var(--bg-color-1);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 10px;
            height: 10px;
            border-radius: var(--border-radius-1);
            background-color: var(--primary-color);
            visibility: hidden;
        }
    }

    &__text {
        color: var(--text-color-3);
        font-size: 14px;
    }

    &--padding {
        .checkbox__label {
            padding: 8px;
            border-radius: var(--border-radius-2);
            border: 2px solid var(--border-color-2);
            background-color: var(--bg-color-1);
        }

        .checkbox__input {
            &:checked {
                & + label {
                    border-color: var(--primary-color);
                }
            }
        }
    }

    &--fullwidth {
        .checkbox__label {
            flex: 1;
        }

        .checkbox__text {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}

.selector-label {
    text-align: left;
    font-size: 14px;
    margin-bottom: 4px;
    color: var(--text-color-1);
}

.range {
    position: relative;
    padding: 0 12px;

    &__input {
        appearance: none;
        cursor: pointer;

        width: 100%;
        outline: 0;

        &::-webkit-slider-runnable-track {
            height: 4px;
            border-radius: 10px;
            background: var(--primary-color);
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: var(--primary-color);
            border: 2px solid var(--bg-color-1);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            transform: translateY(-10px);
        }

        &::-moz-range-track {
            height: 4px;
            border-radius: 10px;
            background: var(--primary-color);
            transform: translateY(2px);
        }

        &::-moz-range-thumb {
            background: var(--primary-color);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: none;
        }

        &::-moz-focus-outer {
            border: 0;
        }
    }

    &__datalist {
        display: flex;
        justify-content: space-between;
        padding: 0 19px;
        position: absolute;
        height: 4px;
        top: 7px;
        left: 0;
        right: 0;
        appearance: none;
        pointer-events: none;

        option {
            width: 9px;
            height: 9px;
            min-height: 9px;
            border-radius: 50%;
            background-color: var(--primary-color);
        }
    }
}

.big-radio-group {
    display: flex;
    justify-content: center;
    gap: 16px;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    &--vertical {
        flex-direction: column;
        gap: 8px;
    }
}

.big-radio {
    position: relative;
    display: flex;
    --check-color: var(--border-color-2);

    input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked {
            & + label .big-radio__ui {
                border-color: var(--primary-color);
                --check-color: var(--primary-color);
            }
        }
    }

    label {
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        &::after {
            content: none;
            display: block;
        }
    }

    &__ui {
        width: 250px;
        height: 100%;
        border: 2px solid var(--border-color-1);
        border-radius: var(--border-radius-3);
        padding: 16px 8px;
        display: grid;
        grid-template-columns: 28px 1fr;
        gap: 8px;

        @media (max-width: 767px) {
            width: 100%;
        }

        svg {
            display: block;
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    &__title {
        color: var(--text-color-1);
        font-weight: bold;
        font-size: 16px;
    }

    &__description {
        color: var(--text-color-3);
        margin-top: 8px;
    }

    &--fullwidth {
        .big-radio__ui {
            width: auto;
        }

        label {
            flex: 1;
            align-items: stretch;
        }
    }

    &--slim {
        .big-radio__ui {
            padding: 12px 8px;
            align-items: center;
        }
    }
}

.input-text {
    position: relative;

    &__input {
        height: 40px;
        padding: 0 16px;
        border: 1px solid var(--border-color-1);
        color: var(--text-color-1);
        border-radius: var(--border-radius-3);
        width: 100%;
    }

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 16px;
        margin: auto;
        pointer-events: none;
    }

    &--icon {
        .input-text__input {
            padding-left: 48px;
        }
    }
}