.input-group {
    margin-bottom: 15px;
    position: relative;

    label {
        margin-bottom: 5px;
    }

    input {
        border-radius: 4px;
        height: 50px;
        padding: 0 20px;
    }

    textarea {
        border-radius: 4px;
        height: 200px;
        width: 100%;
        padding: 14px 20px;
        border: 1px solid var(--border-color-1);
    }
}

.input-group__name {
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    left: 0;
    right: 0;

    &--show {
        position: static;
        margin-bottom: 10px;
        color: var(--text-color-1);
        width: auto;
        height: auto;
    }
}

.input-group__content {

}

.input-group__input {
    width: 100%;
    border: 1px solid #333;
    background-color: #fff;
}

.edit-avatar {
    .filepond--root {
        width: 150px;
        height: 150px !important;
        max-height: 150px !important;
    }

    .filepond--drop-label {
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        font-size: 12px;
    }

    .filepond--panel-root {
        background-color: transparent;
    }
}

.edit-banner {
    .filepond--root {
        width: 100%;
        aspect-ratio: 3 / 1;
        height: auto !important;
        max-height: 100% !important;
    }

    .filepond--drop-label {
        background-color: rgba(0, 0, 0, .3);
        color: #fff;
        font-size: 14px;
        height: 100%;
    }

    .filepond--panel-root {
        background-color: transparent;
    }
}

.radio-group {
    .radio {
        margin-bottom: 10px;
    }
}

.radio {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked {
            & + label .radio__ui {
                &::before {
                    visibility: visible;
                }
            }
        }
    }

    label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &::before {

        }

        &::after {
            content: none;
            display: block;

        }
    }

    &__ui {
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid var(--border-color-1);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--primary-color);
            visibility: hidden;
        }
    }
}

.icons-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.icons-radio {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        &:checked {
            & + label .icons-radio__ui {
                .icons-radio__g {
                    stroke: var(--primary-color);
                }

                .icons-radio__r {
                    fill: var(--primary-color);
                }

                &:not(.icons-radio__ui--ignorefill) {
                    circle,
                    path {
                        fill: var(--primary-color);
                    }
                }
            }
        }
    }

    label {
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        &::after {
            content: none;
            display: block;
        }
    }

    &__ui {
        width: 75px;
        height: 75px;

        svg {
            display: block;
            width: 100%;
        }
    }
}