.only-mobile {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.only-pc {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.text-danger {
    color: var(--danger-color);
}

.block-link {
    color: inherit;
    display: block;
}

.block-link:hover {
    text-decoration: none;
}

.primary-color {
    color: var(--primary-color);
}

.infinite-nomore {
    margin-top: 15px;
}

.mb10 {
    margin-bottom: 10px;
}

.invite-codes-user {
    .user-item__title {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 2px;
        word-break: break-all;
    }

    .user-item {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.accordion {
    &[open] {
        .accordion__heading {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__heading {
        font-weight: 400;
        font-size: 14px;
        color: var(--text-color-3);
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        svg {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: transform .2s ease-in-out;
        }
    }
}

.acp-card__heading {
    .timeline-menu-toggle {
        position: static;
    }
}

.acp-account {
    .timeline-menu-toggle {
        top: 10px;
        right: 10px;
    }
}

.text-center {
    text-align: center;
}

.header.header--side {
    .settings-box {
        left: 10px;

        @media (max-width: 767px) {
            left: 0;
        }
    }
}

.side-bar-button {
    &--current {
        svg {
            stroke: var(--primary-color);
        }
    }
}

.deck-divider {
    width: 414px;
    flex-shrink: 0;

    @media (max-width: 767px) {
        display: none;
    }
}

.bottom {
    .deck-divider {
        display: none;
    }

    .header {
        max-width: 740px;
    }

    .layout-decks .page {
        margin: 0 auto;
        max-width: 740px;
        width: 100%;
    }

    .main {
        width: calc(100% - 64px);

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.single {
    .single-timeline-wrap {
        .deck-row {
            width: auto !important;
            border-radius: 0;
            border: none;
            overflow: visible;

            &__content {
                overflow-y: initial !important;
            }
        }

        .deck-heading {
            &__icon {
                margin-left: 0;
            }
        }
    }

    &.bottom {
        .deck-heading {
            transition: transform .2s ease-in-out;
            border-radius: 0;

            @media (min-width: 768px) {
                z-index: 9999;
                transform: translateX(-59px);
                width: 480px;
                border-right: 1px solid var(--border-color-2);
                border-bottom: none;
            }
        }

        .column-heading {
            @media (min-width: 768px) {
                z-index: 9999;
                transform: translateX(-62px);
                width: calc(100% + 60px);
            }
        }

        .modal-page-content {
            z-index: auto;
        }
    }

    .refresh-button {
        @media (max-width: 767px) {
            position: fixed;
        }

        &--realtime {
            @media (max-width: 767px) {
                position: static;
            }
        }
    }
}

.decks {
    &.bottom {
        .deck {
            padding-top: 60px;

            @media (max-width: 767px) {
                padding-top: 0;
            }
        }
    }
}

.scroll-down.app {
    .deck-heading {
        @media (max-width: 767px) {
            top: -52px;
        }
    }

    &.single {
        .refresh-button {
            @media (max-width: 767px) {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.side-nav {
    &__button {
        &--current {
            .lucide {
                stroke: var(--nav-primary-icon-color);
            }
        }
    }
}

html {
    overflow-y: scroll;

    &:has(.decks) {
        overflow-y: auto;
    }
}

.theme-item {
    .timeline-menu-toggle {
        right: 10px;
        top: 10px;
    }
}

.dragging {
    .deck-row__content {

    }
}

.dragged-content {
    .deck-row__content {

    }
}

.column-list-icon {
    svg {
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.stroke-danger {
    stroke: var(--danger-color);
}