.only-mobile {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.only-pc {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.text-danger {
    color: var(--danger-color);
}

.block-link {
    color: inherit;
    display: block;
}

.block-link:hover {
    text-decoration: none;
}

.primary-color {
    color: var(--primary-color);
}

.infinite-nomore {
    margin-top: 16px;
    color: var(--text-color-3);
    letter-spacing: .05em;

    span {
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            bottom: 0;
            height: 1px;
            width: 32px;
            background-color: var(--border-color-1);
            margin: auto;
        }

        &::before {
            right: calc(100% + 8px);
        }

        &::after {
            left: calc(100% + 8px);
        }
    }
}

.mb10 {
    margin-bottom: 10px;
}

.invite-codes-user {
    .user-item__title {
        font-size: 15px;
        line-height: 1.3;
        margin-bottom: 2px;
        word-break: break-all;
    }

    .user-item {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.accordion {
    &[open] {
        .accordion__heading {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__heading {
        font-weight: 400;
        font-size: 14px;
        color: var(--text-color-3);
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;

        svg {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: transform .2s ease-in-out;
        }
    }
}

.acp-card__heading {
    .timeline-menu-toggle {
        position: static;
    }
}

.acp-account {
    .timeline-menu-toggle {
        top: 10px;
        right: 10px;
    }
}

.text-center {
    text-align: center;
}

.header.header--side {
    .settings-box {
        left: 10px;

        @media (max-width: 767px) {
            left: 0;
        }
    }
}

.side-bar-button {
    &--current {
        svg {
            stroke: var(--bar-current-bar-color);
        }
    }

    &--intersecting {
        @media (max-width: 767px) {
            svg {
                stroke: var(--bar-current-bar-color);
            }
        }
    }
}

.deck-divider {
    width: var(--deck-divider-width);
    flex-shrink: 0;

    @media (max-width: 767px) {
        display: none;
    }
}

.bottom {
    .deck-divider {
        width: 64px;
    }

    .main {
        width: calc(100% - 64px);

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .tiptap {
        height: 120px;
    }
}

.single {
    background-attachment: fixed;

    .single-timeline-wrap {
        .deck-row {
            width: auto !important;
            border-radius: 0;
            border: none;
            overflow: visible;

            &__content {
                overflow-y: initial !important;
            }
        }
    }

    &.bottom {
        .deck-heading {
            transition: transform .2s ease-in-out;
            border-radius: 0;
        }

        .modal-page-content {
            z-index: auto;
        }
    }

    .refresh-button {
        @media (max-width: 767px) {
            position: fixed;
        }

        &--realtime {
            @media (max-width: 767px) {
                position: static;
            }
        }
    }
}

.side-nav {
    &__button {
        &--current {
            .lucide {
                stroke: var(--nav-primary-icon-color);
            }
        }
    }
}

html {
    overflow-y: scroll;

    &:has(.decks) {
        overflow-y: hidden;
    }
}

.theme-item {
    .timeline-menu-toggle {
        right: 10px;
        top: 10px;
    }
}

.dragging {
    .deck-row__content {

    }
}

.dragged-content {
    .deck-row__content {

    }
}

.column-list-icon {
    svg {
        position: absolute;
        left: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.stroke-danger {
    stroke: var(--danger-color);
}

.feed {
    .timeline-menu-toggle {
        top: 15px;
    }
}

.pswp {
    &__button {
        display: grid !important;
        place-content: center;

        &--arrow--prev,
        &--arrow--next {
            display: grid !important;
            place-content: center !important;

            @media (max-width: 767px) {
                display: none !important;
            }
        }
    }

    &__dynamic-caption--below {
        padding: 12px;
        font-size: 13px;
        line-height: 1.3;
        top: auto !important;
        bottom: 0 !important;
        max-width: none;
    }

    &__dynamic-caption--mobile {
        font-size: 13px;
        line-height: 1.3;
    }
}

.superstar {
    --timeline-reaction-liked-icon-color: #F0C76A !important;
}

.giphy-picker {
    .gif {
        cursor: pointer;
    }
}

:where([data-sonner-toast]) {
    padding: 16px !important;
}

.left-mode {
    .footer {
        &::before {
            right: auto;
            left: 20px;
        }
    }

    .footer__wrap {
        flex-direction: row-reverse;
    }

    .footer-round {
        right: auto;
        left: 11px;
    }

    .publish-sp-open {
        right: auto;
        left: 20px;
    }

    @media (max-width: 767px) {
        .publish-bottom-buttons {
            flex-direction: row-reverse;

            .publish-form-bottom-publish {
                margin-right: auto;
                margin-left: 0 !important;
            }
        }

        .publish-bb-nav {
            flex-direction: row;

            .publish-length {
                margin-left: 0 !important;
                margin-right: auto !important;
            }
        }
    }
}

.chat-item {
    &--me {
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.grabber {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    margin-left: auto;
    cursor: se-resize;
}

.timeline-video-player {
    aspect-ratio: var(--video-width, 16) / var(--video-height, 9);
    --plyr-color-main: var(--primary-color);
    margin-top: 16px;
    width: auto !important;
    max-height: 600px;

    video {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__poster {
        img {
            width: 100%;
            height: auto;
        }
    }

    .plyr__progress__container {
        position: absolute;
        left: -13px;
        right: 0;
        bottom: 40px;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .plyr__slider__thumb {
        opacity: 0;
    }

    .plyr__slider__track {
        border-radius: 0 !important;
        height: 3px !important;
    }

    media-pip-button {
        display: none !important;
    }

    @media(max-width: 767px) {
        .plyr__volume {
            display: none !important
        }
    }

    &--local {
        video {
            position: static;
        }
    }
}

.single {
    .profile-grid {
        grid-template-columns: 1fr !important;
    }
}

.profile-grid {
    @container (min-width: 680px) {
        .embla__container {
            display: grid !important;
            grid-template-columns: .65fr .35fr;
            gap: 8px;
        }
    }

    &--disable-atmos {
        .embla__container {
            display: grid !important;
            grid-template-columns: 1fr;
        }
    }
}