.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
    padding: 50px 0;

    @media (max-width: 767px) {
        display: block;
        overscroll-behavior-y: none;
        padding: 20px;
    }

    &--small {
        .modal-contents {
            width: 400px;
        }
    }

    &--dialog {
        position: initial;
        margin: auto;
        appearance: none;
        background-color: transparent;
        padding: 0;
        border: none;

        &::backdrop {
            background-color: rgba(0, 0, 0, .6);
        }
    }
}

.modal-contents {
    padding: 30px;
    border-radius: 10px;
    background-color: var(--bg-color-1);
    width: 740px;
    max-width: 100%;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.modal-close {
    text-align: center;
    margin-top: 30px;
}

.modal-heading-icon {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modal-title {
    color: var(--text-color-1);
    margin-bottom: 10px;

    &--center {
        text-align: center;
    }

    &--smaller {
        font-size: 20px;
    }
}

.modal-text {
    margin-bottom: 16px;
    color: var(--text-color-1);

    &--center {
        text-align: center;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}

.modal-description {
    color: var(--text-color-3);
    margin-bottom: 20px;
}

.dialog-modal {
    margin: auto;
    appearance: none;
    background-color: transparent;
    border: none;

    &::backdrop {
        background-color: rgba(0, 0, 0, .6);
    }
}

.dialog-modal-contents {
    width: 100%;
    height: max-content;
    max-width: 300px;
    margin: auto;
    background-color: var(--bg-color-1);
    padding: 24px 16px;
    border-radius: var(--border-radius-3);
    text-align: center;
    position: relative;
    z-index: 2;
    cursor: default;

    &--ml {
        padding: 24px;
    }
}

.dialog-modal-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.single {
    .modal-page {
        position: static;
    }

    .modal-page-content {
        min-height: 100dvh;
        background-color: var(--modal-page-bg-color, var(--bg-color-1));
        border-left: var(--single-border, 1px solid var(--border-color-2));
        border-right: var(--single-border, 1px solid var(--border-color-2));
        position: relative;
        z-index: 1001;

        &--virtual {
            overflow-x: hidden;
            height: 100dvh;
        }
    }
}

.layout-decks {
    .modal-page {
        position: fixed;
        top: var(--decks-margin);
        bottom: var(--decks-margin-bottom, var(--decks-margin));
        left: 0;
        right: var(--decks-margin);
        z-index: 1001;
        margin: auto auto auto 64px;
        background-color: rgba(0, 0, 0, .35);
        border-radius: var(--decks-border-radius);

        @media (max-width: 767px) {
            margin-left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100dvh;
            border-radius: 0;
        }

        &--side {
            margin-left: calc(var(--deck-divider-width));

            @media (max-width: 767px) {
                margin-left: 0;
            }
        }

        @media (min-width: 768px) {
            scrollbar-color: var(--primary-color) var(--bg-color-3);

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--primary-color);
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background: var(--bg-color-3);
                border-radius: 5px;
            }
        }
    }

    .modal-page-content {
        width: 100%;
        max-width: 740px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 10px 0 0 10px;
        margin: auto;
        height: 94vh;
        background-color: var(--modal-page-bg-color, var(--bg-color-1));
        overflow-y: scroll;
        z-index: 1;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .3);

        @media (max-width: 767px) {
            height: 100dvh;
            border-radius: 0;
        }

        @media (min-width: 768px) {
            scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background: var(--scroll-bar-color);
                border-radius: 0;
            }

            &::-webkit-scrollbar-track {
                background: var(--scroll-bar-bg-color);
                border-radius: 0;
            }
        }
    }
}

.settings-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    padding: 50px 0;

    &--transparent-bg {
        background-color: rgba(0, 0, 0, 0);
    }

    @media (max-width: 767px) {
        display: block;
        overscroll-behavior-y: none;
        padding: 0;
    }
}

.settings-modal-content {
    border-radius: 10px;
    background-color: var(--bg-color-1);
    border: 1px solid var(--border-color-1);
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
    width: 800px;
    max-width: 100vw;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 2;

    @media (min-width: 768px) {
        scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--scroll-bar-color);
            border-radius: 0;
        }

        &::-webkit-scrollbar-track {
            background: var(--scroll-bar-bg-color);
            border-radius: 0;
        }
    }

    @media (max-width: 767px) {
        width: 100%;
        height: 100dvh;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
}