.header {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98);
    }
}

.algo-nav {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98) .075s;
    }
}

.page-nav-title {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98);
    }
}

.footer {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98);
    }
}

.footer-round {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98) .075s;
    }
}

.scroll-down {
    .header {
        @media (max-width: 767px) {
            transform: translateY(-80px);
        }
    }

    .algo-nav {
        @media (max-width: 767px) {
            transform: translateY(-80px);
        }
    }

    .page-nav-title {
        @media (max-width: 767px) {
            transform: translateY(-80px) translateX(-50%);
        }
    }

    .footer {
        @media (max-width: 767px) {
            transform: translateY(70px);
        }
    }

    .footer-round {
        @media (max-width: 767px) {
            transform: scale(.7);
        }
    }
}

.page-nav-title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    font-weight: 900;
    text-align: center;
    z-index: 101;
    font-size: 24px;
    line-height: 1.5;
    margin: auto;
    display: inline-flex;
    letter-spacing: .05em;

    @media (max-width: 767px) {
        font-size: 18px;
        top: 28px;
    }
}

.refresh-button {
    width: 160px;
    background-color: var(--bg-color-1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    position: fixed;
    left: 20px;
    bottom: 20px;
    opacity: 1;
    visibility: visible;
    transition: all .25s ease-in-out;
    z-index: 21;
    border: 2px solid var(--primary-color);

    @media (max-width: 767px) {
        bottom: 100px;
        right: 0;
        left: auto;
        border-radius: 20px 0 0 20px;
        width: 100px;
        border: none;
        background-color: var(--primary-color);
        z-index: 20;

        path {
            fill: #fff;
        }
    }

    &--decks {
        position: absolute;
        left: auto;
        bottom: auto;
        top: 40px;
        right: 10px;
        width: 40px;
        border: none;
        box-shadow: none;

        @media (max-width: 767px) {
           background-color: var(--bg-color-1);
            border-radius: 0;
            bottom: auto;

            path {
                fill: var(--primary-color);
            }
        }
    }

    &.is-refreshing {
        svg {
            animation: rotation .8s linear infinite;
        }
    }
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.scrolled {
    .refresh-button {
        opacity: 0;
        visibility: hidden;
    }
}