.header {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98);
    }
}

.algo-nav {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98) .075s;
    }
}

.page-nav-title {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98);
    }
}

.footer {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98);
    }
}

.footer-round {
    @media (max-width: 767px) {
        transition: all .25s cubic-bezier(0.16, 0.01, 0.3, 0.98) .075s;
    }
}

.scroll-down {
    .header {
        @media (max-width: 767px) {
            transform: translateY(-80px);
        }
    }

    .algo-nav {
        @media (max-width: 767px) {
            transform: translateY(-80px);
        }
    }

    .page-nav-title {
        @media (max-width: 767px) {
            transform: translateY(-80px) translateX(-50%);
        }
    }

    .footer {
        @media (max-width: 767px) {
            transform: translateY(70px);
        }
    }

    .footer-round {
        @media (max-width: 767px) {
            transform: scale(.7);
        }
    }
}

.page-nav-title {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    font-weight: 900;
    text-align: center;
    z-index: 101;
    font-size: 24px;
    line-height: 1.5;
    margin: auto;
    display: inline-flex;
    letter-spacing: .05em;

    @media (max-width: 767px) {
        font-size: 18px;
        top: 28px;
    }
}

.refresh-button {
    width: 40px;
    border: none;
    box-shadow: none;
    background-color: var(--bg-color-1);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 1;
    visibility: visible;
    transition: all .25s ease-in-out;
    z-index: 21;

    @media (max-width: 767px) {
        bottom: 100px;
        right: 0;
        left: auto;
        border-radius: 20px 0 0 20px;
        width: 100px;
        border: none;
        background-color: var(--primary-color);

        path {
            fill: #fff;
        }
    }

    &.is-refreshing {
        svg {
            animation: rotation .8s linear infinite;
        }
    }

    &--decks {
        @media (max-width: 767px) {
            width: 40px;
            border: none;
            box-shadow: none;
            background-color: var(--bg-color-1);
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            opacity: 1;
            visibility: visible;
            transition: all .25s ease-in-out;
            z-index: 21;

            path {
                fill: var(--primary-color);
            }
        }
    }
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.column-heading {
    border-bottom: 1px solid var(--border-color-2);
    height: 52px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 8px 0 16px;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-1);
    z-index: 1;

    @media (max-width: 767px) {
        gap: 8px;
        padding-left: 8px;
    }

    &__title {
        font-size: 16px;
        letter-spacing: .05em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media (max-width: 767px) {
            font-size: 14px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 8px;

        &--right {
            margin-left: auto;
        }
    }
}

.column-heading-button {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}

.side-agents-selector {
    margin-bottom: 15px;
}

.side-title {
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: .025em;
}