.notification-column {
    &__content {
        min-width: 0;
    }
}

.notifications-item {
    border-bottom: 1px solid var(--border-color-2);
    padding: 10px 0;
    position: relative;

    &__contents {
        min-height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: var(--timeline-meta-font-size);
        line-height: 1.5;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__content {
        font-size: var(--timeline-content-font-size);
        min-height: 21px;

        a {
            color: inherit;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__quote {
        border: 1px solid var(--border-color-1);
        padding: 10px;
        font-size: 13px;
        margin-top: 10px;
    }

    &__heading {
        display: flex;
        flex-wrap: wrap;
        gap: 4px 5px;
    }

    &__buttons {
        flex-shrink: 0;
    }

    &__description {
        font-size: 13px;
        margin-top: 5px;
    }

    &--follow {
        display: grid;
        grid-template-columns: 30px 1fr;
        gap: 8px;

        @container timeline-item (max-width: 320px) {

        }
    }

    &--filter-follow {
        align-items: flex-start;

        .notifications-item__title {
            line-height: 1.3;
        }
    }

    &--reply {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;

        .notifications-new {
            display: none;
        }
    }

    &--like,
    &--repost {
        .notifications-item__content {
            color: var(--text-color-3);
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__link {
        color: var(--notification-link-color);
    }

    &__feed {
        .feed {
            .feed__buttons {
                display: none;
            }
        }
    }
}

.notifications-new {
    position: absolute;
    width: 3px;
    background-color: var(--primary-color);
    left: -16px;
    top: 0;
    bottom: 0;
}

.notification-column {
    display: grid;
    grid-template-columns: 28px 1fr;
    gap: 8px;
}

.notifications-item-images {
    .timeline-images {
        @container timeline-item (max-width: 345px) {
            margin-left: 0 !important;
        }
    }
}