.sidebar {
    .filepond--item {
        @media (min-width: 768px) {
            width: calc(50% - 0.5em);
        }
    }
}

.publish-group {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;

    @media (max-width: 767px) {
        overflow: auto;
        overscroll-behavior: none;
        z-index: 2000;
    }

    &--expanded {
        .publish-wrap {
            display: block;
        }

        @media (max-width: 767px) {
            top: 0;

            .publish-wrap {
                display: flex;
            }
        }
    }

    &--left {
        @media (min-width: 768px) {
            top: 0;
            right: auto;
            z-index: 100;
            position: static;
            height: 100%;

            .publish-wrap {
                display: flex;
                flex-direction: column;
                width: auto;
                border-top: none;
                padding: 16px;
                background-color: transparent;
            }

            .publish-form {
                &--expand {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }
            }

            .publish-form-continue-mode {
                display: none;
            }

            .publish-alt-text-button {
                position: static;
                width: 100%;
            }
        }
    }
}

.publish-wrap {
    background-color: var(--publish-bg-color);
    border-top: 1px solid var(--border-color-1);
    padding: 16px 0 0;
    display: none;

    @media (max-width: 767px) {
        display: none;
        flex-direction: column;
        padding: 0;
        background-color: var(--bg-color-1);
        border: none;
        border-radius: 0;
        min-height: 100%;
    }
}

.publish-form {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--publish-textarea-bg-color);
    border-radius: var(--border-radius-3);
    border: var(--publish-border, none);

    @media (max-width: 767px) {
        border: none;
    }

    &--dragover {
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .3);
            z-index: 1000;
            pointer-events: none;
            background-image: url(/image-plus.svg);
            background-position: center;
            border-radius: var(--border-radius-3);
        }
    }

    &--fit {
        @media (max-width: 767px) {
            height: calc(100dvh - 50px - 46px - env(keyboard-inset-height, 0px));
            display: flex;
            flex-direction: column;

            .editor-column {
                flex: 1;
            }

            .tiptap {
                height: 100%;
            }
        }
    }
}

.publish-form-scrollable {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        overflow-y: auto;
    }
}

.publish-form__input {
    background-color: var(--publish-textarea-bg-color);
    color: var(--publish-textarea-color);
    height: 120px;
    font-size: 16px;
    vertical-align: middle;
    width: 100%;
    padding: 15px 20px;
    resize: none;
    outline: none;

    &::placeholder {
        color: var(--text-color-3);
    }
}

.publish-form__submit {
    min-width: 82px;
    height: var(--publish-post-button-height);
    border-radius: 15px;
    top: 10px;
    right: 20px;
    z-index: 10;
    background-color: var(--publish-post-button-bg-color);
    color: var(--publish-post-button-color);
    border: var(--publish-post-button-border);
    box-shadow: var(--publish-post-button-box-shadow);
    font-weight: bold;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: .025em;
    gap: 5px;
    white-space: nowrap;

    @media (max-width: 767px) {

    }

    &:disabled {
        opacity: .6;
    }

    svg {
        margin-top: 4px;
    }

    &--hide {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.filepond--drop-label label {
    font-size: 14px;
    color: var(--text-color-3);
}

.publish-upload-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;

    @media (max-width: 767px) {
        display: none;
    }
}

.filepond--browser {
    @media (max-width: 767px) {
        pointer-events: none;
    }
}

.filepond--drop-label {
    @media (max-width: 767px) {
        pointer-events: none;
    }
}

.publish-quote {
    margin-top: 16px;

    .timeline-external__title {
        padding-right: 26px;
    }

    .timeline-external {
        margin-top: 0;
    }
}

.publish-actor-list-input-group {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.publish-form-moderation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--text-color-1);
    padding: 0 5px;
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
}
.publish-form-moderation {
    &--active {
        .publish-form-moderation-button {
            color: var(--danger-color);
        }
    }
}

.publish-position-switcher {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;

    @media (max-width: 767px) {
        display: none;
    }

    &__button {
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        transition: .2s all ease-in-out;

        &:hover {
            background-color: var(--border-color-1);
        }
    }
}

.emoji-picker-wrap {
    position: absolute;
    z-index: 100;
    bottom: 40px;
    right: 0;

    @media (max-width: 767px) {
        bottom: auto;
        right: auto;
        left: 0;
        top: 40px;
    }
}

.sidebar {
    .emoji-picker-wrap {
        bottom: auto;
        left: 0;
        right: 0;
        top: 50px;

        em-emoji-picker {
            width: 100%;
        }
    }
}

.tiptap {
    color: var(--publish-textarea-color);
    height: 180px;
    overflow-y: auto;
    font-size: 16px;
    vertical-align: middle;
    width: 100%;
    padding: 8px 0 0;
    resize: none;
    outline: none;
    border-radius: var(--border-radius-3) var(--border-radius-3) 0 0;

    @media (max-width: 767px) {
        height: 140px;
    }

    p.is-editor-empty:first-child::before {
        color: var(--text-color-3);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

.editor-mention {
    color: var(--primary-color);
}

.publish-form--expand {
    .editor {
        flex: 1;
    }

    .tiptap {
        height: 100%;
    }
}

.editor-link {
    &:hover {
        &::before {
            content: attr(href);
            position: fixed;
            top: 0;
            left: 0;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            padding: 2px 4px;
            background-color: rgba(0, 0, 0, .6);
            font-size: 11px;
            color: #fff;
            text-decoration: none;
            text-overflow: ellipsis;
        }
    }
}

.vk-publish-group {
    .publish-form-sp-close {
        @media (max-width: 767px) {
            display: grid !important;
        }
    }

    .emoji-picker-wrap {
        @media (max-width: 767px) {
            top: auto;
            bottom: 50px;
        }
    }

    .publish-form-bottom-publish {
        @media (max-width: 767px) {
            display: block !important;
        }
    }

    .publish-bottom-buttons {
        @media (max-width: 767px) {
            position: fixed !important;
        }
    }
}

.publish-group--bottom {
    .publish-bottom-buttons {
        @media (min-width: 768px) {
            position: relative !important;
        }
    }
}