.publish-group {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000;

    @media (max-width: 767px) {
        overflow-x: hidden;
        overscroll-behavior: none;
        pointer-events: auto;
    }

    &--expanded {
        .publish-wrap {
            display: block;

            @media (max-width: 767px) {
                height: calc(100% + 1px);
            }
        }

        @media (max-width: 767px) {
            background-color: var(--bg-color-1);
            top: 0;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &--left {
        @media (min-width: 768px) {
            top: 0;
            right: auto;
            z-index: 100;
            position: static;
            height: 100%;
            overflow-x: hidden;

            .publish-wrap {
                display: flex;
                flex-direction: column;
                width: auto;
                border-top: none;
                padding: 12px 16px;
                background-color: transparent;
                background-image: none;
            }

            .publish-header {
                padding: 0 0 8px !important;
            }

            .publish-form {
                &--expand {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    &--popup {
        @media (min-width: 768px) {
            top: 0;
            background-color: rgba(0, 0, 0, .5);
            place-content: center;
            display: none;

            &.publish-group--expanded {
                display: grid;
            }

            .publish-wrap {
                display: block;
                width: 600px;
                border-radius: var(--border-radius-4);
                overflow-x: hidden;
            }
        }
    }

    &--bottom {
        @media (min-width: 768px) {
            .publish-item-wrap {
                max-width: 740px;
                width: 100%;
                margin: 0 auto;
            }

            .publish-wrap {

            }

            .tiptap {
                height: 120px;
            }
        }
    }
}

.publish-wrap {
    background-color: var(--publish-bg-color);
    background-image: var(--publish-bg-image, none);
    border-radius: var(--publish-border-radius, 0);
    border-top: 1px solid var(--border-color-1);
    display: none;

    @media (max-width: 767px) {
        display: none;
        padding: 0;
        background-color: var(--bg-color-1);
        border: none;
        border-radius: 0;
    }
}

.publish-form {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--publish-textarea-bg-color);
    border-radius: var(--border-radius-3);
    padding-bottom: 12px;

    @media (max-width: 767px) {
        border: none;
    }

    &--dragover {
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, .3);
            z-index: 1000;
            pointer-events: none;
            background-image: url(/image-plus.svg);
            background-position: center;
            border-radius: var(--border-radius-3);
        }
    }

    &--fit {
        @media (max-width: 767px) {
            height: calc(var(--visual-viewport-height, 100dvh) - 50px);
            scroll-padding-bottom: calc(92px + var(--safe-area-bottom));
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .editor-column {
                flex: 1;
            }

            .tiptap {
                height: 100%;
            }
        }
    }
}

.publish-quote {
    margin-top: 16px;

    .timeline-external__title {
        padding-right: 26px;
    }

    .timeline-external {
        margin-top: 0;
    }
}

.publish-form-moderation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: var(--text-color-1);
    padding: 0 5px;
    font-size: 14px;
    height: 30px;
    border-radius: 4px;
}

.emoji-picker-wrap {
    position: absolute;
    z-index: 100;
    bottom: 40px;
    right: 0;

    @media (max-width: 767px) {
        bottom: auto;
        right: auto;
        left: 0;
        top: 40px;
    }

    &--sidebar {
        left: 0;
        right: 0;
        top: calc(100% - 48px);

        em-emoji-picker {
            width: 100%;
        }
    }

    &--popup {
        em-emoji-picker {
            width: 400px;
            max-width: 90vw;
            height: 300px;
        }
    }
}

.tiptap {
    color: var(--publish-textarea-color);
    height: 180px;
    overflow-y: auto;
    font-size: 16px;
    vertical-align: middle;
    width: 100%;
    padding: 8px 0 0;
    resize: none;
    outline: none;
    border-radius: var(--border-radius-3) var(--border-radius-3) 0 0;

    @media (max-width: 767px) {
        height: 140px;
    }

    p.is-editor-empty:first-child::before {
        color: var(--text-color-3);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}

.chat-editor {
    .tiptap {
        height: auto;
        min-height: 32px;
        max-height: 120px;
        font-size: 14px;
        line-height: 1.5;
    }
}

.editor-mention {
    color: var(--primary-color);
}

.editor-hashtag {
    color: var(--primary-color);
}

.editor-link {
    &:hover {
        &::before {
            content: attr(href);
            position: fixed;
            top: 0;
            left: 0;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            padding: 2px 4px;
            background-color: rgba(0, 0, 0, .6);
            font-size: 11px;
            color: #fff;
            text-decoration: none;
            text-overflow: ellipsis;
        }
    }
}

.vk-publish-group {
    .publish-sp-close {
        @media (max-width: 767px) {
            display: grid !important;
        }
    }

    .emoji-picker-wrap {
        @media (max-width: 767px) {
            top: auto;
            bottom: 50px;
        }
    }

    .publish-form-bottom-publish {
        @media (max-width: 767px) {
            display: block !important;
        }
    }

    .publish-item-wrap {
        @media (max-width: 767px) {
            &:not(:last-child) {
                &::after {
                    bottom: 0 !important;
                }
            }
        }
    }
}

.publish-tenor-external {
    aspect-ratio: 1 / 1;
    border-radius: var(--border-radius-2);
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--bottom {
        width: 25%;
        margin: auto;
        aspect-ratio: auto;
    }
}
