.rtl {
    .timeline-menu-toggle {
        right: auto;
        left: 5px;
    }

    .timeline__meta {
        padding-right: 0;
    }

    .header__title {
        margin-left: auto;
        margin-right: 0 !important;
    }

    .settings-box {
        right: auto !important;
        left: 0;
    }

    .notification {
        right: auto !important;
        left: 0;
    }

    .thread-parent {
        &::before {
            left: auto;
            right: 29px;
        }
    }

    .profile-follow-button {
        right: auto !important;
        left: 0;
    }

    .profile-display-name {
        padding-right: 0 !important;
        padding-left: 170px;

        @media (max-width: 767px) {
            padding-left: 0;
        }
    }

    .timeline-menu {
        right: auto !important;
        left: 5px;
    }

    .timeline-external__icon {
        right: auto;
        left: 24px;
    }
}