input[type=checkbox] {
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
}

.input-toggle__input {
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;

    &:disabled {
        & + .input-toggle__label {
            opacity: .7;
        }
    }
}

.input-toggle__label {
    position: relative;
    text-indent: -9999px;
    width: 50px;
    height: 30px;
    background: var(--border-color-1);
    display: block;
    border-radius: 15px;
    cursor: pointer;
}

.input-toggle__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--bg-color-1);
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

.input-toggle__input:checked + .input-toggle__label {
    background: var(--primary-color);
}

.input-toggle__input:checked + .input-toggle__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.input-toggle__label:active:after {
    width: 20px;
}

.settings-group {
    padding: 12px 0;
    gap: 10px;
    font-size: 14px;

    &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        margin-bottom: 10px;
        letter-spacing: .025em;
    }

    &__description {
        margin-top: 10px;
        font-size: 13px;
        color: var(--text-color-3);
    }

    &--column {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        .settings-group__name {
            margin-bottom: 0;
        }
    }

    &--boxed {
        background-color: var(--bg-color-3);
        padding: 16px;
        border-radius: var(--border-radius-3);
    }
}

.settings-wrap {
    padding: 16px;
}

.settings-title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: .025em;
    line-height: 1.5;

    @media (max-width: 767px) {
        font-size: 22px;
    }
}

.select {
    position: relative;
    width: 250px;
    max-width: 100%;
    background-color: var(--bg-color-1);

    &__icon {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        pointer-events: none;
    }

    &__input {
        border: 1px solid var(--border-color-2);
        background-color: var(--bg-color-2);
        height: 48px;
        border-radius: var(--border-radius-4);
        width: 100%;
        padding: 0 16px;
        cursor: pointer;
        position: relative;
        color: var(--text-color-2);
    }
}

.settings-heading {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.settings-back {

}

.settings-description {
    margin-bottom: 20px;
    color: var(--text-color-3);
    font-size: 14px;
    white-space: pre-line;
}

.lang-filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 2px;
        background-color: var(--bg-color-1);
        z-index: 1;
    }

    &__item {
        padding: 8px 12px;
        gap: 16px;
        border-bottom: 1px solid var(--border-color-1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border-right: 1px solid var(--border-color-1);

        &--fullwidth {
            grid-column: 1 / 3;
        }
    }

    &__name {
        label {
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.modal-background-close {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.p-menu-nav {
    list-style: none;
    text-align: center;

    &--2columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    &--separate {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__icon {
        width: 24px;
        height: 24px;
        display: grid;
        place-content: center;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 4px;
        padding: 6px 16px;
        gap: 10px;
        white-space: nowrap;

        &--border {
            border: 2px solid var(--border-color-1);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            height: 20px;
            border-radius: 2px;
            background-color: var(--primary-color);
            margin: auto;
            transform: scaleY(0);
            transition: transform .25s cubic-bezier(0, 0, 0.18, 1);
        }

        &:hover {
            background-color: var(--border-color-2);
        }

        &--current {
            font-weight: bold;

            &::before {
                transform: scaleY(1);
            }
        }

        &--bottom {
            margin-top: auto;
        }

        &--icons {
            &:hover {
                background-color: transparent;
            }
        }
    }

    &__title {
        line-height: 1.3;
        font-size: 15px;
        height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: .015em;

        a {
            color: inherit;

            &:hover {
                text-decoration: none;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
        }
    }
}

.p-menu-title {
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: .025em;
}

.settings-toc {

}

.theme-store-wrap {
    padding: 16px;
}

.theme-store-section {
    margin-bottom: 16px;

    &__title {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

.settings-child-nav {
    height: 60px;
    display: grid;
    grid-template-columns: 24px 1fr 20px;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color-2);
    border-radius: var(--border-radius-2);
    padding: 0 16px;
    position: relative;
    background-color: var(--bg-color-2);
    margin-bottom: 8px;

    a {
        color: inherit;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    span {
        font-size: 14px;
        color: var(--text-color-3);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.list-tags {
    margin-top: 8px;
}

.list-tag {
    background-color: var(--bg-color-2);
    color: var(--text-color-3);
    font-size: 13px;
    height: 24px;
    display: inline-grid;
    place-content: center;
    padding: 0 8px;
    border-radius: var(--border-radius-2);
}

.new-label {
    height: 22px;
    border-radius: 11px;
    padding: 0 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--bg-color-1);
    font-weight: bold;
    font-size: 11px;
    margin-left: 4px;
}

.moderation-settings-groups {
    margin-top: 24px;
}

.moderation-settings-group {
    position: relative;
    margin-bottom: 16px;

    &__content {
        margin-top: 10px;
        position: relative;
    }

    &__title {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 2px;
        letter-spacing: .025em;
    }

    &__text {
        color: var(--text-color-3);
        font-size: 14px;
    }

    select {
        border: 1px solid var(--border-color-1);
        background-color: var(--bg-color-2);
        height: 40px;
        border-radius: 4px;
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        color: var(--text-color-1);
    }
}

.moderation-group-title {
    font-size: 20px;
    color: var(--text-color-1);
    margin-top: 32px;
    margin-bottom: 8px;
}