input[type=checkbox]{
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
}

.input-toggle__input {
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
}

.input-toggle__label {
    position: relative;
    text-indent: -9999px;
    width: 50px;
    height: 30px;
    background: var(--border-color-1);
    display: block;
    border-radius: 15px;
    cursor: pointer;
}

.input-toggle__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--bg-color-1);
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

.input-toggle__input:checked + .input-toggle__label {
    background: var(--primary-color);
}

.input-toggle__input:checked + .input-toggle__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.input-toggle__label:active:after {
    width: 20px;
}

.settings-group {
    padding: 12px 0;
    gap: 10px;
    font-size: 14px;

    &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        margin-bottom: 10px;
        letter-spacing: .025em;
    }

    &__description {
        margin-top: 10px;
        font-size: 13px;
        color: var(--text-color-3);
    }

    &--column {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        .settings-group__name {
            margin-bottom: 0;
        }
    }
}

.settings-wrap {
    padding: 16px;
}

.settings-title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: .025em;
    line-height: 1.5;

    @media (max-width: 767px) {
        font-size: 22px;
    }
}

.select {
    position: relative;
    background-color: var(--bg-color-2);
    width: 250px;
    max-width: 100%;

    &__icon {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &__input {
        border: 1px solid var(--border-color-1);
        height: 40px;
        border-radius: 4px;
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        color: var(--text-color-1);
    }
}

.settings-heading {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.settings-back {

}

.settings-description {
    margin-bottom: 20px;
    color: var(--text-color-3);
    font-size: 14px;
    white-space: pre-line;
}

.lang-filter-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item {
        padding: 10px;
        border-bottom: 1px solid var(--border-color-1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &:nth-child(2n - 1) {
            border-right: 1px solid var(--border-color-1);
        }
    }

    &__name {
        label {
            cursor: pointer;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.modal-background-close {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.p-menu-nav {
    list-style: none;
    text-align: center;

    &--2columns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    &__icon {
        width: 24px;
        height: 24px;
        display: grid;
        place-content: center;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 4px;
        background-color: var(--bg-color-1);
        padding: 6px 16px;
        gap: 10px;
        white-space: nowrap;

        &--border {
            border: 2px solid var(--border-color-1);
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 4px;
            height: 20px;
            border-radius: 2px;
            background-color: var(--primary-color);
            margin: auto;
            transform: scaleY(0);
            transition: transform .25s cubic-bezier(0, 0, 0.18, 1);
        }

        &:hover {
            background-color: var(--border-color-2);
        }

        &--current {
            font-weight: bold;

            &::before {
                transform: scaleY(1);
            }
        }
    }

    &__title {
        line-height: 1.3;
        font-size: 15px;
        height: 36px;
        display: flex;
        align-items: center;
        letter-spacing: .015em;

        a {
            color: inherit;

            &:hover {
                text-decoration: none;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
        }
    }
}

.p-menu-title {
    font-size: 15px;
    margin-bottom: 10px;
    letter-spacing: .025em;
}

.settings-toc {

}

.notice {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color-2);
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 8px;
}

.theme-store-wrap {
    padding: 16px;
}

.theme-store-section {
    margin-bottom: 16px;

    &__title {
        font-size: 16px;
        margin-bottom: 16px;
    }
}