input[type=checkbox]{
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
}

.input-toggle__label {
    position: relative;
    text-indent: -9999px;
    width: 50px;
    height: 30px;
    background: var(--border-color-1);
    display: block;
    border-radius: 15px;
    cursor: pointer;
}

.input-toggle__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: var(--bg-color-1);
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

.input-toggle__input:checked + .input-toggle__label {
    background: var(--primary-color);
}

.input-toggle__input:checked + .input-toggle__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.input-toggle__label:active:after {
    width: 20px;
}

.settings-group {
    padding: 10px 0;
    gap: 10px;
    font-size: 14px;

    &--row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__name {
        margin-bottom: 10px;
    }

    &__description {
        margin-top: 10px;
        font-size: 13px;
        color: var(--text-color-3);
    }
}

.settings-title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: .025em;
    line-height: 1.5;

    @media (max-width: 767px) {
        font-size: 22px;
    }
}

.select {
    position: relative;
    background-color: var(--bg-color-2);
    width: 250px;
    max-width: 100%;

    &__icon {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &__input {
        border: 1px solid var(--border-color-1);
        height: 40px;
        border-radius: 4px;
        width: 100%;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        color: var(--text-color-1);
    }
}

.settings-heading {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

.settings-back {
    display: none;

    @media (max-width: 767px) {
        display: block;
        margin-top: 2px;
    }
}