.timeline {
    background-color: var(--bg-color-1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    padding: 20px;
    border-radius: 10px;
    position: relative;

    @media (max-width: 767px) {
        margin: 0 -20px;
    }
}

.timeline-external {
    display: grid;
    grid-template-columns: 78px 1fr;
    gap: 10px;
    align-items: flex-start;
    background-color: var(--bg-color-1);
    padding: 10px 10px 15px;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 0 14px var(--box-shadow-color-2);
    border-radius: 6px;
    font-size: 14px;

    @media (max-width: 767px) {
        grid-template-columns: 50px 1fr;
    }

    .timeline__thread-link {
        @media (max-width: 767px) {
            a {
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.timeline-external--record {
    grid-template-columns: 60px 1fr;
    cursor: auto;

    @media (max-width: 767px) {
        grid-template-columns: 40px 1fr;
    }
}

.timeline-external__image {
    background-color: var(--border-color-1);
    border-radius: 4px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.timeline-external__image--round {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.timeline-external__content {
    min-width: 0;
}

.timeline-external__title {
    margin-bottom: 8px;
}

.timeline-external__icon {
    position: absolute;
    right: 24px;
    top: -11px;
}

.timeline-external__title a::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.timeline-external__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color-3);
}

.timeline-external__url {
    color: var(--text-color-3);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.timeline-external img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline__item {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color-1);
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.timeline-repost-messages {
    &:has(*) {
        margin-bottom: 15px;
    }
}

.timeline-repost-message {
    font-size: 14px;
    letter-spacing: .025em;
    line-height: 1.5;
    margin-left: 12px;

    a {
        color: inherit;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 3px;

        svg {
            flex-shrink: 0;
        }
    }

    &__you {
        color: var(--bg-color-1);
        background-color: var(--primary-color);
        font-size: 12px;
        border-radius: 4px;
        padding: 2px 4px;
        margin-left: 5px;
    }
}

.timeline__date {
    color: var(--text-color-3);
    letter-spacing: .05em;
    position: relative;
    cursor: default;

    &:hover {
        .timeline-tooltip {
            opacity: 1;
            visibility: visible;
        }
    }

    &:not(:last-child) {
        &::after {
            content: '・';
        }
    }

    &--noafter {
        &::after {
            content: none !important;
        }
    }
}

.timeline__thread-link {
    letter-spacing: .05em;

    @media (max-width: 767px) {
        font-size: 0;
        width: 0;
        height: 0;
    }
}

.timeline__date::before {
    content: '・';
}

.timeline__meta {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 6px;
    padding-right: 35px;
}

.timeline__user {
    font-weight: 600;
    letter-spacing: .025em;
    cursor: default;
}

.timeline__image {

}

.timeline__column {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: flex-start;
    gap: 15px;

    &--reply {
        margin-bottom: 20px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            top: 20px;
            bottom: -20px;
            left: 29px;
            background-color: var(--border-color-1);

            @media (max-width: 767px) {
                left: 24px;
            }
        }
    }

    @media (max-width: 767px) {
        grid-template-columns: 50px 1fr;
    }
}

.timeline__text {
    white-space: pre-line;
    line-height: 1.75;
}

.timeline__delete {
    position: absolute;
    top: 50px;
    right: 10px;
    display: none;
}

.timeline__warn-wrap {
    position: relative;
}

.timeline-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 16px;
    color: var(--text-color-3);

    @media (max-width: 767px) {
        gap: 10px;
    }

    &--notification {
        gap: 10px;
        margin-top: 10px;
        justify-content: flex-start;
    }

    &--media {
        gap: 10px;

        .timeline-reaction__item {
            min-width: 55px;

            &--bookmark {
                min-width: 40px;
            }
        }
    }

    &__count {
        display: flex;
        align-items: center;
        left: 36px;
        letter-spacing: -.025em;
        font-weight: 400;

        @media (max-width: 767px) {
            font-size: 13px;
        }
    }

    &__icon {
        z-index: 1;
    }
}

.timeline-reaction__item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 6px;
    min-width: 70px;
    height: 28px;
    position: relative;
    border: 1px solid var(--border-color-1);
    border-radius: 14px;
    font-size: 14px;
    transition: background-color .2s ease-in-out;
    background-color: var(--bg-color-1);
    font-family: var(--ui-font);

    @media (max-width: 767px) {
        min-width: 60px;
        padding: 0 10px;
    }

    &--bookmark {
        min-width: 45px;
        justify-content: center;

        &:hover {
            @media (min-width: 768px) {
                background-color: var(--border-color-1);
                color: var(--bg-color-1);

                path {
                    fill: var(--bg-color-1);
                }
            }
        }
    }
}

.timeline-reaction__icon::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.timeline-images-wrap {
    margin-top: 20px;

    &--record {
        margin-top: 10px;

        .timeline-images {
            grid-template-columns: repeat(4, 1fr);

            &:has(.timeline-image:only-child) {
                grid-template-columns: repeat(4, 1fr);

                @media (max-width: 767px) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

.timeline-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width: 767px) {
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
    }

    &--compact {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        @media (max-width: 767px) {
            gap: 5px;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &--nocrop {
        &:has(.timeline-image:only-child) {
            grid-template-columns: repeat(2, 1fr);
        }

        .timeline-image:only-child {
            aspect-ratio: auto !important;
        }
    }

    /* &:has(.timeline-image:only-child) {
        grid-template-columns: repeat(2, 1fr);
    } */
}

.timeline-menu-toggle {
    position: absolute;
    right: 5px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bg-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out;

    @media (max-width: 767px) {
        top: 10px;
    }

    &:hover {
        background-color: var(--border-color-1);
    }
}

.timeline-menu {
    position: absolute;
    padding: 15px 10px 18px;
    box-shadow: 0 3px 6px var(--box-shadow-color-1);
    border-radius: 6px;
    width: max-content;
    background-color: var(--bg-color-1);
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;

    @media (max-width: 767px) {

    }

    &--shown {
        opacity: 1;
        visibility: visible;
    }

    &--bookmark {
        top: 40px;
    }
}

.timeline-menu-list {
    list-style: none;

    &__item {
        border-bottom: 1px solid var(--border-color-1);
        display: flex;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        padding: 10px;
        margin: 0 -10px;
        flex: 1;
        text-decoration: none;
        color: inherit;

        &--bookmark {
            min-width: 120px;
        }

        &:hover {
            background-color: var(--bg-color-2);
            text-decoration: none;
        }
    }

    svg {
        width: 18px;
        object-fit: contain;
        object-position: center;
    }
}

.likes-wrap {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 1px solid var(--border-color-1);
    padding: 10px 0 0;

    @media (max-width: 767px) {
        display: block;
    }

    &[open] {
        .likes-heading {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.likes-heading {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color-3);
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    svg {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: transform .2s ease-in-out;
    }

    &::-webkit-details-marker {
        display: none;
    }

    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
}

.hide-repost {
    .timeline__item--repost {
        display: none;
    }
}

.hide-reply {
    .timeline__item--reply {
        display: none;
    }
}

.media-content {
    .timeline-repost-message {
        &::before {
            content: none;
        }
    }
}

.media-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.timeline-tooltip {

}

.timeline-warn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--border-color-1);
    z-index: 1;
    display: grid;
    place-content: center;
    text-align: center;
}

.timeline-warn-heading {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 10px;
    margin-bottom: 15px;
}

.timeline-warn-list {
    list-style: none;
}

.timeline-shortcut-number {
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    top: 0;
    left: 0;
    color: var(--primary-color);
}

.profile-menu-toggle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color-2);
    display: grid;
    place-content: center;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: var(--border-color-1);
    }
}

.timeline-via {
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
        content: '・';
    }
}

.timeline-reply-bar {
    position: absolute;
    width: 2px;
    bottom: 100%;
    height: 20px;
    left: 29px;
    background-image: linear-gradient(var(--bg-color-1), var(--border-color-1));

    @media (max-width: 767px) {
        left: 24px;
    }
}

.sample-post {
    pointer-events: none;
    margin-bottom: 20px;
}

.sticky {
    .timeline__item {
        border-bottom: none;
    }
}

.timeline__item--compact {
    padding: 10px 0;

    .timeline__column {
        grid-template-columns: 46px 1fr;
        gap: 10px;

        &--reply {
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }

            &::before {
                left: 22px;
            }
        }
    }

    .timeline-repost-message {
        font-size: 13px;

        &::before {
            top: 10px;
            bottom: 10px;
        }
    }

    .timeline-repost-messages:has(*) {
        margin-bottom: 10px;
    }

    .timeline__meta {
        margin-top: 0;
        margin-bottom: 2px;

        @media (max-width: 767px) {
            font-size: 13px;
        }
    }

    .timeline__text {
        font-size: 14px;
        line-height: 1.5;
    }

    .timeline-reaction {
        margin-top: 12px;
    }

    .timeline-external {
        grid-template-columns: 46px 1fr;

        &--record {
            grid-template-columns: 46px 1fr;
            gap: 10px;
        }

        &__title {
            margin-bottom: 4px;
        }

        &__description {
            -webkit-line-clamp: 1;
        }

        &__url {
            display: none;
        }
    }

    .timeline-reaction {
        &__item {
            border: none;
            height: 20px;
            min-width: 64px;
            font-size: 13px;
        }

        &__count {
            font-size: 12px;
            position: static;
        }
    }

    .timeline-reply-bar {
        left: 22px;
        height: 10px;
    }

    .timeline-menu-toggle {
        top: 5px;
        right: 0;
        background-color: transparent;

        &:hover {
            background-color: var(--bg-color-2);
        }
    }
}

.timeline__item--minimum {
    .timeline__column {
        grid-template-columns: 0 1fr;

        &--reply {
            margin-bottom: 10px;
            border: 1px solid var(--border-color-1);
            padding: 5px;

            &::before {
                content: none;
            }

            .timeline__text {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .timeline-external {
        &--record {
            grid-template-columns: 1fr;
        }
    }

    .timeline-reply-bar {
        display: none;
    }
}

.deck {
    .timeline {
        @media (max-width: 767px) {
            margin: 0;
        }
    }

    .style-nav {
        position: absolute !important;
        z-index: 20;
        top: 4px;

        @media (max-width: 767px) {
            margin-left: 20px !important;
        }
    }
}

.timeline-external-link {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.timeline-translate-button {
    color: var(--primary-color);
    letter-spacing: .025em;

    &:hover {
        text-decoration: underline;
    }

    &--hidden {
        visibility: hidden;
    }
}

.timeline-dev {
    padding: 10px 20px;
    background-color: var(--bg-color-2);
    border-radius: 6px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px 10px;
    color: var(--text-color-3);

    &__group {
        display: flex;
        flex-wrap: wrap;
        gap: 0 5px;
    }
}

.small {
    .notifications-item--follow {
        flex-direction: column;
    }

    .timeline__item {
        .timeline-reaction {
            margin-left: -75px;
            gap: 10px;

            @media (max-width: 767px) {
                margin-left: 0;
            }
        }
    }

    .timeline__item--compact {
       .timeline-reaction {
           margin-left: -56px;

           @media (max-width: 767px) {
               margin-left: 0;
           }
       }
    }

    .timeline__item--minimum {
        .timeline-reaction {
            margin-left: 0;

            @media (max-width: 767px) {
                margin-left: 0;
            }
        }
    }
}